@import 'hero';
.logo{
    
    position: relative;
    height: 2rem;
    width: 8.081875rem;
    left: 2rem;
    top: 2rem;

    #logo{
        height: 2rem;
        @include desktop-view{
            height: 4rem;
            width: auto;
        }
    }
}