@import 'variables';
@import 'logo';
@import 'hero';

html{
    background-color: $violet;
    color:$white;
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    line-height: 1.6;
    background-image:url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    @include desktop-view {
        background-image: url("/images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
}

.container{
    display: block;
    height: 100vh;
    width: 100vw;
    @include desktop-view{
        display: flex;
        flex-direction: row;
        
    }

    #mockup{
        height: 17rem;
        text-align: center;
        position: relative;
        top: 5rem;
        @include desktop-view {
            position: relative;
            left: 0;
            top: 10rem;
            height: 36rem;
        }

        img{
            height: 14.0625rem;
            width: auto;
            @include desktop-view{
                position: relative;
                padding: 1rem;
                height: 36rem;
                width: auto;
            }
        }

    }

    #intro{
        display: block;
        position: relative;
        top: 3rem;
        text-align: center;
        height: 25.5rem;
        width: auto;
        padding: 0 2rem;
        @include desktop-view{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            height: 45rem;
            width: 55rem;
        }
        h2{
            font-family:'Poppins';
            font-weight: 600;
            @include desktop-view{
                font-size: 3rem;
                font-family: 'Poppins';
            }
        }

        .message{
            font-family: 'Open Sans';
            font-weight: 400;
            text-align: center;
            @include desktop-view{
                text-align: left;
                margin: 0;
                font-size: 1rem;
            }
        }
    }
}

button{
    position: relative;
    top: 2rem;
    background-color: $white;
    color: $violet;
    font-family: 'Open Sans';
    height: 2.5rem;
    width: 14rem;
    border-radius: 50px;
    box-shadow:0px 5px 5px black;
    @include desktop-view{
        top: 5rem;
        height: 3.5rem;
        width: 10rem;
    }
}

.social-media{
    height: 3rem;
    width: auto;
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    @include desktop-view{
       position: relative;
       text-align: right;
       display: block;
       top: 10rem;
       
       i{
           padding: 1rem;
       }
    }
}

.attribution{
    position: relative;
    top: 7rem;
    @include desktop-view {
        text-align: right;
        position: relative;
        top: 11rem;
    }
}